.App {
  max-width: 70rem;
  margin: 10rem auto;
}
.charactersList{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly ;
}

.character{
  display: flex;
}

.character-content{
  margin-left: 2rem;
}